// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}
.nav-link {
    color: white !important;
    font-weight: bolder;
}
.navbar-toggler-icon {
    color: white !important;
}
.nav-link{
    background-color: #1f6fb2;
    border-radius: 5px;
}
.dropdown-menu{
    top: 40px !important;
    min-height: 100px;
    width: 100% !important;
    min-width: auto !important;
    background-color: #1f6fb2;
}
.dropdown-menu>a{
    color: white;
    border-radius: 5px;
    font-weight: bolder;
}

